aiobotocore  
aiohttp  
aioitertools  
aiosignal  
alabaster  
altair  
anyio  
appdirs==1.4.4
applaunchservices  
appnope  
appscript  
argon2-cffi  
argon2-cffi-bindings  
arrow  
astroid  
astropy  
asttokens  
async-lru  
async-timeout  
atomicwrites==1.4.0
attrs  
Automat  
autopep8  
Babel  
bcrypt  
beautifulsoup4  
binaryornot  
black  
bleach  
blinker  
bokeh  
botocore  
Bottleneck  
Brotli  
cachetools  
certifi  
cffi  
chardet  
charset-normalizer  
click  
cloudpickle  
colorama  
colorcet  
comm  
constantly  
contourpy  
cookiecutter  
cryptography  
cssselect  
cycler  
cytoolz  
dask  
datashader  
debugpy  
decorator  
defusedxml  
diff-match-patch  
dill  
distributed  
docstring-to-markdown  
docutils  
entrypoints  
et-xmlfile==1.1.0
exceptiongroup  
executing  
fastjsonschema  
filelock  
flake8  
Flask  
fonttools==4.25.0
frozenlist  
fsspec  
gensim  
gitdb  
GitPython  
gmpy2  
greenlet  
h5py  
HeapDict  
holoviews  
hvplot  
hyperlink  
idna  
imagecodecs  
imageio  
imagesize  
imbalanced-learn  
importlib-metadata  
incremental  
inflection==0.5.1
iniconfig  
intake  
intervaltree  
ipykernel  
ipython  
ipython-genutils  
ipywidgets  
isort  
itemadapter  
itemloaders  
itsdangerous  
jaraco.classes  
jedi  
jellyfish  
Jinja2  
jmespath  
joblib  
json5  
jsonschema  
jsonschema-specifications  
jupyter  
jupyter-console  
jupyter-events  
jupyter-lsp  
jupyter_client  
jupyter_core  
jupyter_server  
jupyter_server_terminals  
jupyterlab  
jupyterlab-pygments  
jupyterlab-widgets  
jupyterlab_server  
keyring  
kiwisolver  
lazy-object-proxy  
lazy_loader  
lckr_jupyterlab_variableinspector  
linkify-it-py  
llvmlite  
lmdb  
locket  
lxml  
lz4  
Markdown  
markdown-it-py  
MarkupSafe  
matplotlib  
matplotlib-inline  
mccabe  
mdit-py-plugins  
mdurl  
mistune  
more-itertools  
mpmath  
msgpack  
multidict  
multipledispatch  
munkres==1.1.4
mypy  
mypy-extensions  
nbclient  
nbconvert  
nbformat  
nest-asyncio  
networkx  
nltk  
notebook  
notebook_shim  
numba  
numexpr  
numpy  
numpydoc  
openpyxl==3.0.10
overrides  
packaging  
pandas  
pandocfilters  
panel  
param  
parsel  
parso  
partd  
pathspec  
patsy==0.5.3
pexpect  
pickleshare  
pillow  
platformdirs  
plotly  
pluggy  
ply==3.11
prometheus-client  
prompt-toolkit  
Protego  
protobuf==3.20.3
psutil  
ptyprocess  
pure-eval  
py-cpuinfo  
pyarrow  
pyasn1  
pyasn1-modules==0.2.8
pycodestyle  
pycparser  
pyct  
pycurl  
pydeck  
PyDispatcher==2.0.5
pydocstyle  
pyerfa  
pyflakes  
Pygments  
pylint  
pylint-venv  
pyls-spyder==0.4.0
pyobjc-core  
pyobjc-framework-Cocoa  
pyobjc-framework-CoreServices  
pyobjc-framework-FSEvents  
pyodbc  
pyOpenSSL  
pyparsing  
PyQt5==5.15.10
PyQt5-sip  
PyQtWebEngine==5.15.6
PySocks  
pytest  
python-dateutil  
python-json-logger  
python-lsp-black  
python-lsp-jsonrpc==1.0.0
python-lsp-server  
python-slugify  
python-snappy  
pytoolconfig  
pytz  
pyviz_comms  
pywavelets  
PyYAML  
pyzmq  
QDarkStyle  
qstylizer  
QtAwesome  
qtconsole  
QtPy  
queuelib  
referencing  
regex  
requests  
requests-file  
rfc3339-validator  
rfc3986-validator  
rich  
rope  
rpds-py  
Rtree  
s3fs  
scikit-image  
scikit-learn  
scipy  
Scrapy  
seaborn  
Send2Trash  
service-identity  
sip  
six  
smart-open  
smmap  
sniffio  
snowballstemmer  
sortedcontainers  
soupsieve  
Sphinx  
sphinxcontrib-applehelp  
sphinxcontrib-devhelp  
sphinxcontrib-htmlhelp  
sphinxcontrib-jsmath  
sphinxcontrib-qthelp  
sphinxcontrib-serializinghtml  
spyder  
spyder-kernels  
SQLAlchemy  
stack-data  
statsmodels  
streamlit  
sympy  
tables  
tabulate  
tblib  
tenacity  
terminado  
text-unidecode  
textdistance  
threadpoolctl  
three-merge  
tifffile  
tinycss2  
tldextract  
toml  
tomli  
tomlkit  
toolz  
tornado  
tqdm  
traitlets  
Twisted  
typing_extensions  
tzdata  
tzlocal  
uc-micro-py  
ujson  
Unidecode  
urllib3  
validators  
w3lib  
watchdog  
wcwidth  
webencodings==0.5.1
websocket-client  
Werkzeug  
whatthepatch  
widgetsnbextension  
wrapt  
wurlitzer  
xarray  
xlwings  
xyzservices  
yapf  
yarl  
zict  
zipp  
zope.interface  
progressbar
tensorflow
absl-py==2.1.0
aiobotocore   
aiohttp   
aioitertools   
aiosignal   
alabaster   
altair   
anyio   
appdirs==1.4.4
applaunchservices   
appnope   
appscript   
argon2-cffi   
argon2-cffi-bindings   
arrow   
astroid   
astropy   
asttokens   
astunparse==1.6.3
async-lru   
async-timeout   
atomicwrites==1.4.0
attrs   
Automat   
autopep8   
Babel   
bcrypt   
beautifulsoup4   
binaryornot   
black   
bleach   
blinker   
bokeh   
botocore   
Bottleneck   
Brotli   
cachetools   
certifi   
cffi   
chardet   
charset-normalizer   
click   
cloudpickle   
colorama   
colorcet   
comm   
constantly   
contourpy   
cookiecutter   
cryptography   
cssselect   
cycler   
cytoolz   
dask   
datashader   
debugpy   
decorator   
defusedxml   
diff-match-patch   
dill   
distributed   
docstring-to-markdown   
docutils   
entrypoints   
et-xmlfile==1.1.0
exceptiongroup   
executing   
fastjsonschema   
filelock   
flake8   
Flask   
flatbuffers==23.5.26
fonttools==4.25.0
fqdn==1.5.1
frozenlist   
fsspec   
fst-pso==1.8.1
FuzzyTM==2.0.5
gast==0.5.4
gensim   
gitdb   
GitPython   
gmpy2   
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet   
grpcio==1.62.0
h5py   
HeapDict   
holoviews   
hvplot   
hyperlink   
idna   
imagecodecs   
imageio   
imagesize   
imbalanced-learn   
importlib-metadata   
incremental   
inflection==0.5.1
iniconfig   
intake   
intervaltree   
ipykernel   
ipython   
ipython-genutils   
ipywidgets   
isoduration==20.11.0
isort   
itemadapter   
itemloaders   
itsdangerous   
jaraco.classes   
jedi   
jellyfish   
Jinja2   
jmespath   
joblib   
json5   
jsonpointer==2.4
jsonschema   
jsonschema-specifications   
jupyter   
jupyter-console   
jupyter-events   
jupyter-lsp   
jupyter_client   
jupyter_core   
jupyter_server   
jupyter_server_terminals   
jupyterlab   
jupyterlab-pygments   
jupyterlab-widgets   
jupyterlab_server   
keras==2.15.0
keyring   
kiwisolver   
lazy-object-proxy   
lazy_loader   
lckr_jupyterlab_variableinspector   
libclang==16.0.6
linkify-it-py   
llvmlite   
lmdb   
locket   
lxml   
lz4   
Markdown   
markdown-it-py   
MarkupSafe   
matplotlib   
matplotlib-inline   
mccabe   
mdit-py-plugins   
mdurl   
miniful==0.0.6
mistune   
ml-dtypes==0.2.0
more-itertools   
mpmath   
msgpack   
multidict   
multipledispatch   
munkres==1.1.4
mypy   
mypy-extensions   
nbclient   
nbconvert   
nbformat   
nest-asyncio   
networkx   
nltk   
notebook   
notebook_shim   
numba   
numexpr   
numpy   
numpydoc   
oauthlib==3.2.2
openpyxl==3.0.10
opt-einsum==3.3.0
overrides   
packaging   
pandas   
pandocfilters   
panel   
param   
parsel   
parso   
partd   
pathspec   
patsy==0.5.3
pexpect   
pickleshare   
pillow   
platformdirs   
plotly   
pluggy   
ply==3.11
progressbar==2.5
prometheus-client   
prompt-toolkit   
Protego   
protobuf==3.20.3
psutil   
ptyprocess   
pure-eval   
py-cpuinfo   
pyarrow   
pyasn1   
pyasn1-modules==0.2.8
pycodestyle   
pycparser   
pyct   
pycurl   
pydeck   
PyDispatcher==2.0.5
pydocstyle   
pyerfa   
pyflakes   
pyFUME==0.2.25
Pygments   
pylint   
pylint-venv   
pyls-spyder==0.4.0
pyobjc-core   
pyobjc-framework-Cocoa   
pyobjc-framework-CoreServices   
pyobjc-framework-FSEvents   
pyodbc   
pyOpenSSL   
pyparsing   
PyQt5==5.15.10
PyQt5-sip   
PyQtWebEngine==5.15.6
PySocks   
pytest   
python-dateutil   
python-json-logger   
python-lsp-black   
python-lsp-jsonrpc==1.0.0
python-lsp-server   
python-slugify   
python-snappy   
pytoolconfig   
pytz   
pyviz_comms   
pywavelets   
PyYAML   
pyzmq   
QDarkStyle   
qstylizer   
QtAwesome   
qtconsole   
QtPy   
queuelib   
referencing   
regex   
requests   
requests-file   
requests-oauthlib==1.3.1
rfc3339-validator   
rfc3986-validator   
rich   
rope   
rpds-py   
rsa==4.9
Rtree   
s3fs   
scikit-image   
scikit-learn   
scipy   
Scrapy   
seaborn   
Send2Trash   
service-identity   
simpful==2.11.1
sip   
six   
smart-open   
smmap   
sniffio   
snowballstemmer   
sortedcontainers   
soupsieve   
Sphinx   
sphinxcontrib-applehelp   
sphinxcontrib-devhelp   
sphinxcontrib-htmlhelp   
sphinxcontrib-jsmath   
sphinxcontrib-qthelp   
sphinxcontrib-serializinghtml   
spyder   
spyder-kernels   
SQLAlchemy   
stack-data   
statsmodels   
streamlit   
sympy   
tables   
tabulate   
tblib   
tenacity   
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado   
text-unidecode   
textdistance   
threadpoolctl   
three-merge   
tifffile   
tinycss2   
tldextract   
toml   
tomli   
tomlkit   
toolz   
tornado   
tqdm   
traitlets   
Twisted   
typing_extensions   
tzdata   
tzlocal   
uc-micro-py   
ujson   
Unidecode   
uri-template==1.3.0
urllib3   
validators   
w3lib   
watchdog   
wcwidth   
webcolors==1.13
webencodings==0.5.1
websocket-client   
Werkzeug   
whatthepatch   
widgetsnbextension   
wrapt   
wurlitzer   
xarray   
xlwings   
xyzservices   
yapf   
yarl   
zict   
zipp   
zope.interface   
tensorflow_probability
